#chatbox {

	min-height: 600px;
	max-height: 600px;
	overflow: auto;

}

/* #more {
	display: none;
} */

div[id^="more_"] {
    display: none;
}

/* #seeMoreButton {
	display: none;
} */

.bubble {
	border-radius: 25px;
}
