#chatbox {
	height: 800px;
    overflow: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#title {
    height: 3em;
}

#input {
    height: 3em;
    text-indent: 10px;
}

#loading {
    margin-right: 40px;
}

.gmap {
	height: 300px;
}

.bubble {
	border-radius: 25px;
}

.btn-circle {
    width: 30px;
    height: 30px;
	border-radius: 15px;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}