/* Init margin & padding */
*{
    margin:0;
    padding:0;
}

/* Chatbox container */
#chat {
    overflow: hidden;
}

/* Chatbox */
#chatbox {
	height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Footer bar */
.footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
}

/* Chatbox Title */
#title {
    height: 3em;
}

/* Input bar */
#input {
    height: 3em;
    text-indent: 10px;
}

/* Loading animation */
#loading {
    margin-right: 40px;
}

/* Googlemap */
.gmap {
	height: 300px;
}

/* Chat bubble */
.bubble {
	border-radius: 25px;
}

/* Text expansion button */
.btn-circle {
    width: 30px;
    height: 30px;
	border-radius: 15px;
}

/* Scrollbar width */
::-webkit-scrollbar {
	width: 3px;
}
  
/* Scrollbar Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}